@model BusinessEntities.UserEntity
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", id = "username" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="login" type="button" value="Log in" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>

    <fieldset>
        <label for="get">Click here to try get some data</label>
        <input id="get" type="button" value="get" />
        <label for="username">Result</label>
        <input id="data" type="textarea" />
    </fieldset>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    //http://stackoverflow.com/questions/5507234/how-to-use-basic-auth-and-jquery-and-ajax

    $("#login").click(function () {
        // var username = $("input#username").val();
        // var password = $("input#password").val();

        var username = $('#username').val();
        var password = $('#password').val();
        $.ajax({
            type: "POST",
            url: "/Home/Login/",
            dataType: 'json',
            async: false,
            headers: { "Authorization": "Basic " + btoa(username + ":" + password) },
            success: function (data) {
                var res = data.split(":");
                debugger;

                alert(res[1]);
                if (window.sessionStorage) {
                    sessionStorage.setItem('access_token', res[1]);
                }
                localStorage.setItem('access_token', res[1]);
                alert("Sucess you now have a token and should be able to click to get data");
                $.ajaxSetup({
                    headers: {
                        'Authorization': "Session " + data.access_token
                    }
                });
            },
            statusCode: {
                401: function () {
                    alert("Unauthorised expect username to be equal to password e.g. foo & foo");
                }
            }
        });
    });

    $("#get").click(function () {
        alert(sessionStorage.getItem('access_token'));
        var token = sessionStorage.getItem('access_token');
        var headers = {};
        if (token) {
            headers.token = token;
        }
        $.ajax({
            type: "GET",
            url: "http://localhost:63947/api/Values",
            headers: headers,
            dataType: 'json',
            async: false,
            success: function (data) {
                $('#data').val(data);
            },
            statusCode: {
                401: function () {
                    alert("Unauthorised please log in via basic first");
                }
            },
        });
    });

</script>
</body>
