@{
    ViewBag.Title = "Home Page";
    WebGrid grid = new WebGrid(Model); ;
}
@model IEnumerable<BusinessEntities.hmisUserBase>

<h1>List Of HMIS Users </h1>
<div class="well">
    @using (Html.BeginForm("index", null, FormMethod.Get))
    {
        <div class="row">
            <div class="col-sm-8">
                <div class="input-group">

                    <input type="text"
                           name="filter"
                           value="@ViewBag.filter"
                           class="form-control"
                           style="display: inline"
                           placeholder="Search by model and company" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go</button>
                    </span>

                </div>
            </div>
            <div class="pull-right col-lg-1">
                <a class="btn btn-success" data-modal="" href="/Home/Register" id="btnCreate">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>

        <div style="margin-top:17px;">
            @{
                grid = new WebGrid(
                            canPage: true,
                            //rowsPerPage: Model.PageSize,
                            canSort: true,
                            ajaxUpdateContainerId: "grid");

                grid.Bind(Model, rowCount: 12, autoSortAndPage: false);
                //grid.Bind()
                grid.Pager(WebGridPagerModes.All);
                @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
            fillEmptyRows: false,
            tableStyle: "table table-bordered table-hover",
            mode: WebGridPagerModes.All,
            columns: grid.Columns(
              //grid.Column("SID", "SID", style: "display: none"),
            @*grid.Column(null, null, format: @<input type="hidden" name="IDHidden" value="@item.SID" />),*@
              grid.Column("first_name", "First Name", style: "col-lg-4"),
              grid.Column("last_name", "Last Name", style: "col-lg-3"),
              // grid.Column("user_name", header: "user_name", format: @<text>@String.Format("{0:C}", item.Price) </text>),
              grid.Column("user_name", "Email", style: "col-lg-3"),

              grid.Column(header: "Action", canSort: false, style: "action",
                format: @<text>
                @Html.Raw("<a data-modal='' href='/home/details/" + item.SID + "' id='" + item.SID + "' title='Detail'> <span class='glyphicon glyphicon-search'> </span> </a>")
                @Html.Raw("<a data-modal='' href='/home/edit/" + item.SID + "' id='" + item.SID + "' title='Edit'> <span class='glyphicon glyphicon-edit'> </span> </a>")
                @Html.Raw("<a data-modal='' href='/home/delete/" + item.SID + "' id='" + item.SID + "' title='Delete'> <span class='glyphicon glyphicon-trash'> </span> </a>")
                </text>)

            ));
            }


        </div>
  }
</div>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/scripts/appjs/users.js")
}
