@model BusinessEntities.UserEntity
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Message</h3>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#loginform").submit(function (e) {
            e.preventDefault();
            debugger;
           // if ($(this).valid()) {
                $("#divLoading").show();
                $.ajax({
                    type: "POST",
                    url:$(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (res) {
                        $("#divLoading").hide();
                         var url = '@Url.Action("Contact", "Home")';
                         window.location.href = url;
                        //var res = data.split(":");
                        //if (window.sessionStorage) {
                        //    sessionStorage.setItem('access_token', res[1]);
                        //}
                        //localStorage.setItem('access_token', res[1]);
                        //alert("Sucess you now have a token and should be able to click to get data");
                        //$.ajaxSetup({
                        //    headers: {
                        //        'Authorization': "Session " + data.access_token
                        //    }
                        //});
                        //window.location = "/Filter/Commissions" + $("#datefrom").val() + $("#dateto").val();

                    },
                    statusCode: {
                        401: function () {
                            alert("Unauthorised expect username to be equal to password e.g. foo & foo");
                        }
                    }
                });
           // }
        });

    })

</script>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "loginform", encType = "multipart/form-data", id = "loginform", name = "loginform" }))
            {
                            @Html.AntiForgeryToken()
                            <h4>Use a local account to log in.</h4>
            
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control"})
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="login" type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
   
    @*<fieldset>
            <label for="get">Click here to try get some data</label>
            <input id="get" type="button" value="get" />
            <label for="username">Result</label>
            <input id="data" type="textarea" />
        </fieldset>*@
</div>
<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
    <p style="position: relative; top: 30%; left: 45%; color: White;">
        Loading, please wait...<img src="~/fonts/ajax-loading (1).gif">
    </p>
</div>







<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    //http://stackoverflow.com/questions/5507234/how-to-use-basic-auth-and-jquery-and-ajax

    $("#login2").click(function () {
        // var username = $("input#username").val();
        // var password = $("input#password").val();
        $("#divLoading").show();
        var username = $('#username').val();
        var password = $('#password').val();
        $.ajax({
            type: "POST",
            url: "/Home/Login/",
            dataType: 'json',
            async: false,
            headers: { "Authorization": "Basic " + btoa(username + ":" + password) },
            success: function (data) {
                var res = data.split(":");
                debugger;
                $("#divLoading").hide();
                alert(res[1]);
                if (window.sessionStorage) {
                    sessionStorage.setItem('access_token', res[1]);
                }
                localStorage.setItem('access_token', res[1]);
                alert("Sucess you now have a token and should be able to click to get data");
                $.ajaxSetup({
                    headers: {
                        'Authorization': "Session " + data.access_token
                    }
                });
            },
            statusCode: {
                401: function () {
                    alert("Unauthorised expect username to be equal to password e.g. foo & foo");
                }
            }
        });
    });

    $("#get").click(function () {
        alert(sessionStorage.getItem('access_token'));
        var token = sessionStorage.getItem('access_token');
        var headers = {};
        if (token) {
            headers.token = token;
        }
        $.ajax({
            type: "GET",
            url: "http://localhost:63947/api/Values",
            headers: headers,
            dataType: 'json',
            async: false,
            success: function (data) {
                $('#data').val(data);
            },
            statusCode: {
                401: function () {
                    alert("Unauthorised please log in via basic first");
                }
            },
        });
    });

</script>


