@model BusinessEntities.hmisPatientAdmissionBase

@{
    ViewBag.Title = "AdmitPatient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdmitPatient</h2>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#registrationform").submit(function (e) {
            e.preventDefault();
            debugger;
            if ($(this).valid()) {
                $("#divLoading").show();
                $.ajax({
                    type: "POST",
                    url:$(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (data, textStatus, xhr) {
                        debugger;
                        var statusCode = xhr.status;
                        alert(statusCode);
                        alert("Status : " + statusCode);
                        $("#divLoading").hide();
                        $("#patient_registration_no").val(data);
                    },
                    error: function (data) {
                        alert("Ajax request failed!");
                    },
                    statusCode: {
                        401: function () {
                            alert("Unauthorised expect username to be equal to password e.g. foo & foo");
                        }
                    }
                });
            }
        });

    })

</script>
@using (Html.BeginForm("AdmitPatient", "AdmissionClient", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "admissionform", name = "admissionform" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Admit A Patient</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.patient_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.patient_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.patient_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.admission_type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.admission_type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.admission_type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.diagonosed_in, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.diagonosed_in, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.diagonosed_in, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.progressive_in_year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.progressive_in_year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.progressive_in_year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.from_health_unit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.from_health_unit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.from_health_unit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.discharge_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.discharge_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.discharge_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.discharge_type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.discharge_type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.discharge_type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.discharge_instruction, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.discharge_instruction, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.discharge_instruction, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.admission_notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.admission_notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.admission_notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Is_allergic, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Is_allergic, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Is_allergic, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bed_days, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bed_days, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bed_days, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Is_malnutritious, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Is_malnutritious, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Is_malnutritious, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ward_number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ward_number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ward_number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.index_number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.index_number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.index_number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.admission_sequence, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.admission_sequence, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.admission_sequence, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.created_on, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.created_on, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.created_on, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.modified_on, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modified_on, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.modified_on, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.created_by, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.created_by, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.created_by, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.modified_by, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modified_by, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.modified_by, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group">
            <label for="patient_fathers_name" class="control-label col-md-2">Patient Height</label>
            <div class="col-md-10">
                <input type="text" name="FathersName" class="form-control" id="patientheight" />
            </div>
        </div>
        <div class="form-group">
            <label for="patient_mothers_name" class="control-label col-md-2">Patient Weight</label>
            <div class="col-md-10">
                <input type="text" name="MothersName" class="form-control" id="patientwaight" />
            </div>
        </div>
        <div class="form-group">
            <label for="Reffered_Doctor" class="control-label col-md-2">Patient Arterial Pressure Min</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="lowpressure" name="lowpressure" />
            </div>
        </div>
        <div class="form-group">
            <label for="bpl_card_holder" class="control-label col-md-2">Patient Arterial Pressure Max</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="highpressure" name="highpressure" />
            </div>
        </div>
     
        <div class="form-group">
            <label for="bpl_card_holder" class="control-label col-md-2">Heart Rate</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="heartrate" name="heartrate" />
            </div>
        </div>

        <div class="form-group">
            <label for="bpl_card_holder" class="control-label col-md-2">Temparature</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="temparature" name="temparature" />
            </div>
        </div>

        <div class="form-group">
            <label for="bpl_card_holder" class="control-label col-md-2">Saturation</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="saturation" name="saturation" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            <label for="bpl_card_holder" class="control-label col-md-2">Contacy Type</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="contacttype" name="contacttype" />
            </div>
        </div>

        <div class="form-group">
            <label for="bpl_card_holder" class="control-label col-md-2">Contact First Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="contactfirstanme" name="contactfirstanme" />
            </div>
        </div>

        <div class="form-group">
            <label for="bpl_card_holder" class="control-label col-md-2">Contact Last Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="contactlastanme" name="contactlastanme" />
            </div>
        </div>
        <div class="form-group">
            <label for="bpl_card_holder" class="control-label col-md-2">Phone Number</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="contactphone" name="contactphone" />
            </div>
        </div>
        <div class="form-group">
            <label for="bpl_card_holder" class="control-label col-md-2">Additional Phone Number</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="additionalphone" name="additionalphone" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
    <p style="position: relative; top: 30%; left: 45%; color: White;">
        Loading, please wait...<img src="~/fonts/ajax-loading (1).gif">
    </p>
</div>