
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<meta name="viewport" content="width=device-width" />

<p>
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <style>
        span.field-validation-error {
            color: red;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />


    @Html.ActionLink("Create New", "AdmitPatient", new { @class = "btn btn-small btn-primary" })
</p>
<div style="width:90%; margin:0 auto" class="admissioncontainer">
    <a class="popup btn btn-primary" href="/AdmissionClient/AdmitPatient/0" style="margin-bottom:20px; margin-top:20px;">Admit New Patient</a>
    <table id="admitDatatable">
        <thead>
            <tr>
                <th>admission sequence No.</th>
                <th>admission type</th>
                <th>ward number</th>
                @*<th>discharge date</th>*@
                <th>discharge type</th>
                <th>from health unit</th>
                <th>diagonosed in</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts {
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    @Scripts.Render("https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")

    <style>
        span.field-validation-error {
            color: red;
        }
    </style>

    <script>
        $(document).ready(function () {
            debugger;
        var admitTable = $('#admitDatatable').DataTable({
            "ajax": {
                "url": '/AdmissionClient/Index',
                "type": "get",
                "datatype": "json"
            },
            "columns": [
                { "data": "admission_sequence", "name": "AdmissionID", "autoWidth": true },
                { "data": "admission_type", "name": "AdmissionType", "autoWidth": true },
                { "data": "ward_number", "title": "WardNumber", "name": "ContactName", "autoWidth": true },
                { "data": "discharge_type", "name": "DischargeType", "autoWidth": true },
                { "data": "diagonosed_in", "name": "DiagonosedIn", "autoWidth": true },
                { "data": "from_health_unit", "name": "HealthUnit", "autoWidth": true },
                //{ "data": "discharge_date", "name": "dischargedate", "autoWidth": true },
                {
                    "data": "ID",  "render": function (data) {
                        return '<a class="popup" href="/PatientClient/save/' + data + '">Edit</a>';
                    }
                },
                {
                    "data": "ID",  "render": function (data) {
                        return '<a class="popup" href="/AdmissionClient/AdmitPatient/' + data + '">Admission</a>';
                    }
                }
            ]
        })
        $('.admissioncontainer').on('click', 'a.popup', function (e) {
            e.preventDefault();
            OpenPopup($(this).attr('href'));
        })
        function OpenPopup(pageUrl) {
            var $pageContent = $('<div/>');
            $pageContent.load(pageUrl, function () {
                $('#popupForm', $pageContent).removeData('validator');
                $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse('form');

            });

            $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                .html($pageContent)
                .dialog({
                    draggable: false,
                    autoOpen: false,
                    resizable: false,
                    model: true,
                    title: 'Popup Dialog',
                    height: 550,
                    width: 600,
                    close: function () {
                        $dialog.dialog('destroy').remove();
                    }
                })

            $('.popupWindow').on('submit', '#popupForm', function (e) {
                var url = $('#popupForm')[0].action;
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $('#popupForm').serialize(),
                    success: function (data) {
                        if (data.status) {
                            $dialog.dialog('close');
                            admitTable.ajax.reload();
                        }
                    }
                })

                e.preventDefault();
            })

            $dialog.dialog('open');
        }
    })
    </script>

}

